<%- include("../common/layout-start", {title: title}) %>
<%- include("../common/menu") %>
<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title: <%= book.title %></h5>
                <p class="card-text">Description: <%= book.description %></p>
                <p class="card-text">Authors: <%= book.authors %></p>
                <p class="card-text">File cover: <%= book.fileCover %></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book._id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book._id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../common/layout-end") %>